@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

/* Цвета и шрифты */
:root {
	--dark: #1c1c1c;
	--background: #030307;
	--foreground: #f6f4ff;
	--dave-dark: #111111;
}

.dark {
	--dark: #ffffff;
	--background: #f6f4ff;
	--foreground: #030307;
	--dave-dark: #ffffff;
}
@theme inline {
	--color-dark: var(--dark);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-dave-dark: var(--dave-dark);

	--color-orange: #fca316;
	--font-rajdhani: 'Rajdhani', sans-serif;
	--font-nunito: 'Nunito', sans-serif;
}
/* Основные стили */
html,
body {
	@apply h-full w-full;
}

@layer base {
	body {
		@apply bg-background text-foreground font-rajdhani tracking-wide;
		background-image: url('/backgroundMap.png');
		background-size: cover;
		background-position: center;
		background-repeat: repeat;
	}
}
input{
	cursor: pointer;
	outline: none;
}
/* bg-gray-500/20 */
